[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
[submodule "wasi-libc"]
	path = wasi-libc
	url = https://github.com/WebAssembly/wasi-libc.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/veluca93/llvm-project
	branch = wasi-build
[submodule "gcc"]
	path = gcc
	url = https://github.com/veluca93/gcc.git
	branch = master 
[submodule "ruff"]
	path = ruff
	url = https://github.com/astral-sh/ruff.git
